@model IEnumerable<Model.Models.Ticket>
@{
    ViewBag.Title = "List";
}
<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuyDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Festival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuyDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Festival.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.ActionLink("Download", "Details", new { id = item.TicketId })
            </td>
        </tr>
    }
</table>