@model FestiFact3.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
    @if (!User.IsInRole("organiser") && !ViewBag.User.OrganiserRequested)
    {
        <dl class="dl-horizontal">
            <dt>I am an organiser</dt>
            <dd>
                @Html.ActionLink("Request Organiser Status", "RequestOrganiserStatus")
            </dd>
        </dl>
    }
    @if (ViewBag.User.OrganiserRequested)
    {
        <dl class="dl-horizontal">
            <dt>I am an organiser</dt>
            <dd>
                Already requested
            </dd>
        </dl>
    }
    @if (User.IsInRole("organiser"))
    {
        <dl class="dl-horizontal">
            <dt>I am an organiser</dt>
            <dd>
                Already an organiser
            </dd>
        </dl>
    }
</div>